//colors
$yellowColor:#cc9900;
$whiteColor:#f0f0f0;
$transColor:rgba(8, 8, 8, 0.6);
$darkerTransColor:rgba(8, 8, 8, 0.8);
$transWhiteColor:rgba(250, 250, 250, .4);
$blackColor:#191919;
$grayColor:#666;

//Fonts
$sans:sans-serif;
$gentiumFont: 'Gentium Book Basic',
serif;
$latoFont: 'Lato',
sans-serif;
$yesevaFont: 'Yeseva One',
cursive;
$openSansFont:'Open Sans',
sans-serif;

//weight
$light:300;
$regular:400;
$bold:500;